---
---

@import "{{ site.theme }}";

#header {
  display: none;
}

.wrapper {
  max-width:90%;
  margin:0px 5% 0px 5%;
  position:relative;
  padding: 0 10px;
}

section {
  max-width:90%;
  padding: 10px 0px 20px 0px;
  margin: 5% 5%;
  margin-top: 10px;
}
