---
---

@import "{{ site.theme }}";

#header {
  display: none;
}

.wrapper {
  max-width:90%;
  margin:0px 5% 0px 5%;
}

section {
  max-width:90%;
  margin: 5% 5%;
  margin-top: 10px;
  #title {
    margin: 0 0 5px 0;
}
}

.credits {
  display: none;
}
